#content{
	position: relative;
	top:16px;
	width: 100%;
	background: #eee;
}
#title-bar{
	position: fixed;
	top:24px;
	left: 0px;
	width: 100%;
	height: 24px;
	color: #fff;
	padding-left: 4px;
	z-index: 999;
}
.title-bar{
	background: #000;
}
#window{
	position: relative;
	top:40px;
	margin: 15px;
	width: 1000px;
	margin: 0 auto;
	padding: 50px;
	margin-bottom: 90px;
	z-index: 800;
}
.window{
	background: #fff;
	box-shadow: 0px 0px 15px rgba(0,0,0,0.1);
	border: 1px solid #ccc;
	text-align: justify;
	-webkit-user-select: all;
	-moz-user-select: all;
	-ms-user-select: all;
	user-select: all;
}
#article-title{
	font-weight: bold;
	font-size: 30px;
	text-align: center;
	margin-bottom: 40px; 
}
#article-info{
	color: #555;
}
#article-main{
	margin-top: 20px;
	font-size: 17px;
}

#article-list{
	list-style: none;
	margin-left: -40px;
	width:1000;
}
#article-list li{
	display: block;
	height: 150px;
	padding: 10px;
	border-bottom: 1px solid #ccc;
	margin-bottom: 0px;
}
#article-list li:hover{
	background: #eee;
}
#article-desc{
	position: relative;
	left:160px;
	top:-150px;
	width: 820px;
}
#article-desc a{
	color: #06b;
}
#article-desc a:hover{
	text-decoration: underline;
}
#article-desc #title{
	color: #000;
	font-weight: bold;
	cursor: pointer;
}
#article-desc #title:hover{
	text-decoration: underline;
}
hr{
	border: none;
	border-bottom: 1px solid #ccc;
	margin-bottom: -5px;
}
#archive-nav{
	position: fixed;
	float: right;
	left: 15px;
	top: 232px;
	width: 150px;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.archive-nav{
	background: #eee;
	border: 1px solid #ccc;
}
#archive-nav ul{
	cursor: pointer;
	list-style: none;
	margin-top: 0px;
	margin-bottom: 0px;
}
#archive-nav ul:hover{
	transition: .25s;
	box-shadow: 0px 0px 5px rgba(0,0,0,0.1);
}
#archive-nav li{
	margin-left: -40px;
	text-align: center;
	border-bottom: 1px solid #ccc;
	padding: 10px;
	transition:.2s;
}
#archive-nav li:first-child{
	background: #ddd;
	text-decoration: bold;
}
#archive-nav li:last-child{
	border: none;
}
#archive-nav li:hover{
	background: #ddd;
}
#archive-nav li ul{
	display: none;
	position: absolute;
	top:-1px;
	left:150px;
	width: 100px;
	border: 1px solid #ccc;
	background: #eee;
}
#archive-nav li:hover ul{
	display: block;
}
#archive-nav li ul li{
	margin-left: -40px;
}
#archive-nav li ul li:first-child{
	background: none;
}
#archive-nav li ul li:first-child:hover{
	background: #ddd;
}
#article-view{
	width: 1000px;
	border: 1px solid #ccc;
}
