body{
	font-family: Helvetica, Arial, sans-serif;
	user-select: none;
	-webkit-user-select:none;
	-moz-user-select:none;
	background: #eee;
	width: 100%;
	cursor: default;
	overflow-x:hidden; 
}
a{
	text-decoration: none;
	color: #555;
}
a:hover{
	color: #000;
}
