body{
	font-family: 'robotoregular';
}

hr{
	height: 0px;
	border: none;
	border-bottom: solid 1px #999; 
}
a{
	color: #444;
	text-decoration: none;
}
a:hover{
	color: #000;
	text-decoration: underline;
}